<div class="clientes">
    <div class="form-group" *ngIf="!nombre" >
        <label for="">Cliente</label>
        <input class="form-control" type="text" (input)="buscarClientes($event.target.value)" placeholder="Busque un cliente">
    </div>

   <div class="form-group">
       <label for="">Clientes</label>
       <div class="row">
           <div class="col-sm-10">
               <input *ngIf="nombre" [(ngModel)]="nombre" disabled type="text">
           </div>

           <div class="col-sm-2">
               <button (click)="cancelarCliente()" class="btn btn-danger"> Cancelar</button>      
           </div>
       </div>
   </div>

    <div *ngFor="let cliente of clientes" class="list-group">
        <a *ngIf="cliente" (click)="seleccionarCliente(cliente)" class="list-group-item list-group-item-action"> 
            {{cliente.nombre}} {{cliente.apellido}}
        </a>
      </div>
</div>         
