<div class="container">
    <div class="text-center">
        <img src="assets/logogym.PNG" alt="">
        <h3>Bienvenido, por favor ingrese sus datos</h3>
    </div>
    
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="email">Correo electronico</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese su correo electronico">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
                </div>
                
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <div class="text-center">
                  <p class="mt-5 mb-3 text-muted">&copy; Valentina company</p>
                </div>
              </form>
        </div>
    </div>
    
</div>
